# Image Remote Patterns, support multiple patterns separated by commas
IMAGES_REMOTE_PATTERNS="https://images.example.com, https://cdn.example.com"

# Enable Mock Service Worker for development and testing purposes, 
# if the value is anything other than `true` it will always be considered `false`
NEXT_PUBLIC_MOCK_SERVER="false"

# Base API (backend) URL for the application, used for making API requests
NEXT_PUBLIC_BASE_API_URL="https://api.example.com"

# Base URL for the frontend application, used for constructing absolute URLs
NEXT_PUBLIC_BASE_URL="https://example.com"

# Reown Project ID, used for integrating with the Reown (WalletConnect) service
NEXT_PUBLIC_REOWN_PROJECT_ID="your-project-id"